# ==================================================
# Book settings
title: MultiPie
author: Hiroaki Kusunose and Rikuto Oiwa
copyright: "2021-"
logo: multipie_logo.png

# ==================================================
# Execution settings
execute:
  execute_notebooks: cache
  stderr_output: "remove"
  allow_errors: true
  timeout: 120

# ==================================================
# Parse and render settings
parse:
  myst_enable_extensions:
    - amsmath
    - colon_fence
    - deflist
    - dollarmath
    - html_admonition
    - html_image
    - linkify
    - replacements
    - smartquotes
    - substitution

# ==================================================
# HTML-specific settings
html:
  extra_css: ["_static/custom.css"]
  home_page_in_navbar: false
  use_edit_page_button: false
  use_repository_button: true
  use_issues_button: false
  collapse_navigation: true

# ==================================================
# LaTeX-specific settings
latex:
  latex_engine: "xelatex"
  latex_documents:
    targetname: book.tex

bibtex_bibfiles:
  - "references.bib"

# ==================================================
# Information about where the book exists on the web
repository:
  url: https://github.com/CMT-MU/MultiPie.git
  branch: main

# ==================================================
# Sphinx setting
sphinx:
  root_doc: "README.md"
  recursive_update: true
  extra_extensions:
  - "sphinx.ext.autosummary"
  - "sphinx.ext.autodoc"
  - "sphinx.ext.napoleon"
  - "sphinx.ext.viewcode"
  config:
    add_module_names: false
    autoclass_content: "init"
    autodoc_default_options:
      members: true
      member-order: "groupwise"
      undoc-members: true
      show-inheritance: true
    html_theme: sphinx_book_theme
    html_static_path: ["_static"]
    html_js_files:
      - custom.js
    html_theme_options:
      show_prev_next: false
      navigation_with_keys: false
    html_show_sourcelink: false
    html_copy_source : false
    bibtex_reference_style: label
    bibtex_default_style: "unsrt"
    language: en
    mathjax_path: "https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"
    mathjax3_config:
      loader:
        load: ["[tex]/physics"]
      tex:
        packages: { "[+]": ["physics"] }
        macros:
          "bm": ["\\boldsymbol{#1}", 1]
