dl.py.class,
dl.py.function,
dl.py.method,
dl.py.property,
dl.py.attribute,
dl.py.signal {
    background-color: #eef5ff;
    padding: 1rem;
    margin-top: 2rem;

    border-top: 2px solid #0066ff;
}

dl.py.class  > dt.sig,
dl.py.function  > dt.sig,
dl.py.function > dt.sig,
dl.py.property > dt.sig,
dl.py.attribute > dt.sig,
dl.py.signal > dt.sig {
    background-color: #dce9ff;
    padding: 0.5rem 0.75rem;
    margin: -1rem -1rem 1rem -1rem;
    font-weight: 600;
}

dl.py.class dl.field-list > dt,
dl.py.function dl.field-list > dt,
dl.py.fuction dl.field-list > dt,
dl.py.property dl.field-list > dt,
dl.py.attribute dl.field-list > dt,
dl.py.signal dl.field-list > dt {
    font-weight: 600;
    margin-top: 0.5rem;
    background-color: #dce9ff;
}

.admonition,
.admonition > .admonition-body {
    border: none !important;
    background-color: #f5f5f5 !important;
}
